/* GLOBAL */
.darkMode {
    background: var(--color-05) !important;
}

.darkMode .titleP__content, .contentP{
    color: #7e7d7d !important;
}

.darkMode .titleH1__content{
    color: var(--color-03) !important;
}

/* HEADER */
.darkMode .header__active{
    background: var(--color-05) !important;
}

.darkMode .logo__text, .darkMode .slogan{
    color: var(--color-03) !important;
}

.darkMode .header__active .nav-item a {
    color: var(--color-03) !important;
}

.darkMode .header__active .nav-item .active {
    color: var(--color-01) !important;
}

.darkMode .header__right #btnDarkMode svg{
    color: var(--color-03) !important;
}

.darkMode #header .nav-item .dropdown-menu{
    background: var(--color-05);
}

.darkMode #header .nav-item .dropdown-menu li a{
    color: var(--color-03);
}

.darkMode #header .header__right #btnDarkMode svg:first-child {
    display: block !important;
}

.darkMode #header .header__right #btnDarkMode svg:last-child {
    display: none !important;
}

/* CAROUCEL */
.darkMode #caroucel .caroucel__overlay{
    background: rgba(29, 42, 55, 0.829) !important;
}

.darkMode #caroucel .shape {
    fill: var(--color-05) !important;
}

.darkMode #caroucel .btnCaroucel__container button {
    border: 1px solid var(--color-04) !important;
    color: var(--color-03) !important;
    background: var(--color-05) !important;
}

/* ABOUT */
.darkMode #about .container .list-unstyled a span{
    color: var(--color-03);
}

/* FEATURES */
.darkMode #features{
    background: #100F19 !important;
}

.darkMode #features .features__item>div{
    background: var(--color-05) !important;
}

.darkMode #features .features__item a{
    color: var(--color-03) !important;
}

/* SERVICES */
.darkMode .services__itemIMG>a{
    border: 1px solid var(--color-04) !important;
}

.darkMode .services__itemIMG>a{
    background: var(--color-05) !important;
    color: var(--color-03) !important;
}

.darkMode #services .container .services__itemContent>a{
    background: var(--color-05);
    color: var(--color-03);
}

.darkMode .services__item:hover .services__itemIMG>a, .services__itemContent>a:hover{
    color: var(--color-01) !important;
}