@media (max-width: 1220px) {
    /* CAROUCEL */
    #caroucel .carousel-item img{
        height: 100vh !important;
    }
    #caroucel .carousel-caption {
        top: 20% !important;
    }
}

@media (max-width: 768px) {
    /* CAROUCEL */
    #caroucel .carousel-item img{
        height: 70vh !important;
    }
    /* CAROUCEL */
    #caroucel .carousel-caption .container h1{
        font-size: 2rem !important;
        line-height: 2.5rem !important;
    }

    #caroucel .carousel-caption .container p {
        font-size: 1rem !important;
        line-height: 1.4rem !important;
    }

    #caroucel .carousel-caption .container button{
        font-size: 1rem !important;
        padding: 10px 20px !important;
    }
}
